/* size */
$font-size-giant: 96px;
$font-size-huge: 64px;
$font-size-4xl: 48px;
$font-size-3xl: 40px;
$font-size-2xl: 32px;
$font-size-xl: 24px;
$font-size-lg: 20px;
$font-size-x-base: 18px;
$font-size-base: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;

/* weight */
$font-weight-regular: 400;
$font-weight-bold: 700;

// /* colors */
$white: #ffffff;
$black: #191e19;
$gray-1: #515451;
$gray-2: #858685;
$gray-3: #aeb3ae;
$gray-4: #ebf0eb;
$blue-1: #223a79;
$blue-2: #7fa0f1;
$blue-3: #21d4fd;
$error: #ff0d00;

/* other */
$z-index-menu: 10;
$basic-time: 0.3s;
